doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/deps/jquery-2.1.0.min.js')
    script(type='text/javascript', src='/index.js')

  body
    block content
